*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  color: #252525;
  min-height: 100vh;
  background-color: #314D5E;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 300;
  color: #ffff;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.input-wrapper {
  margin: 3.5rem;
}

.todos-wrapper {
  margin-bottom: 2.5rem;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

input {
  width: 450px;
  padding: 0.8em;
}

input:focus {
  outline: none;
}

button {
  width: 120px;
  padding: 0.8em;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

input{
    font-size: 1em;
  appearance: none;
  color: currentcolor;
  background: #ffff;
  border: 3px solid #ffff;
  border-radius: 8px;
}
button {
  font-size: 1em;
  appearance: none;
  color: currentcolor;
  background: transparent;
  border: 3px solid #ffff;
  border-radius: 8px;
  margin-left: 12px;
}

.add-button {
  color: #ffff;
  background-color: #59dbdb;
}

.add-button:hover {
  color: #252525;
  background: #44c0b6;
}

.delete-button {
  color: #f7f7f7;
  background-color: #fe6a6a;
}

.delete-button:hover {
  color: #ffff;
  background: #ec2c2c;
}

.update-button {
  color: #f7f7f7;
  background-color: #587cdd;
}

.update-button:hover {
  color: #ffff;
  background: #2b46e0;
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;

}

li {
  width: 450px;
  padding: 0.85em;
  text-align: left;
  word-break:break-all;
  margin-bottom: 1.5rem;
  color: #252525;
  background: #f7f7f7;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 12px solid #53a81a;
}

li:last-child {
  margin-bottom: 0px;
}

.task-input{
  padding: 12px;
  margin: 8px;
}

.empty {
  font-size: 20px;
  font-weight: 400;
  color: #f7f7f7;
  margin-left: 250px;

  letter-spacing: 0.2rem;
}

.logout-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.logout-button:hover  {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}
